body {
  background-color: rgba(98, 125, 125, 0.458);
  background-size: contain;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.5em;
  border-radius: 5px;
  border-width: 10px;
  border-color: rgba(127, 157, 147, 0.126);
}
p {
  background-color: hsl(127, 9%, 20%);
  border-radius: 5px;
  color: rgb(112, 106, 97);
}
img {
  border-radius: 30px;
  border-color: black;
  border-style: double;
}
label {
  background-color: rgb(56, 163, 163);
  border-radius: 5px;
  color: brown;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: aquamarine;
}
div {
  background-color: blanchedalmond;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  max-width: 350px;
  padding: 10px;
  box-shadow: 5px, 5px, 15px, black;
}
#countLabel {
  display: block;
  text-align: center;
  font-size: 3em;
  font-family: Helvetica;
}
#btnContainer {
  text-align: center;
}
.buttons {
  padding: 10px, 20px;
  font-size: 1.5em;
  color: white;
  background-color: hsl(226, 100%, 75%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover {
  background-color: blue;
}
.buttons:active {
  background-color: blueviolet;
}
#myRNGButton {
  font-size: 3em;
  padding: 5px, 25px;
}

button {
  margin-top: 10px;
}

#numOfDice {
  text-align: center;
}

#diceResult {
  margin: 25px;
}
#diceImages img {
  width: 125px;
  margin: 5px;
}
